.auction-intro, .auction-item-intro{
  p { margin-bottom: 3px; }
  .auction-name {
    font-size: 15px;
    font-weight: 500;
  }

  .auction-em em {
    color: red;
  }

  .auction-field {
    color: #999;
  }
}

.auction-index {
  .auction {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
  }
  .auction-items {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  .auction-items .grid{
    width: 25%;
    padding: 5px;
  }
}

.auction-show {
  .auction-items .media {
    p { margin-bottom: 3px; }

  }
}

.auction-item-show{
  background: #F6F6F6;
  .item-panel{
    background: #fff;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
  }

  .bid-items{
    color: #999;
    .row{
      padding: 5px 0;
    }
  }
}