html {
	height: 100%;
}
body {
	font-family: Arial,"Microsoft Yahei","Droid Sans","Helvetica Neue","Heiti SC",sans-self;
	margin: 0;
	min-height: 100%;
	background-color: #f4f4f4;
}
.white-bg {
	background-color: #fff;
}
*{-webkit-tap-highlight-color:transparent;}
ul,dl,dd{
	margin: 0;
	padding: 0;
	list-style: none;
}
button,input,textarea {font-family:"Microsoft Yahei","Helvetica Neue","Heiti SC"}
a {text-decoration: none;}
*:focus {outline: none;}
.clear:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.fl {float: left;}
.fr{float: right;}
.flex {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.flex1 {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


.top {
	position: relative;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #7c4b2e;
}
.top img {
	height: 40px;
	margin: 5px auto;
	vertical-align: middle;
}
.top .search {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	background: url(../images/search.png) no-repeat center;
	background-size: 30px 30px;
}
.top a {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	float: right;
	height: 50px;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	padding: 0 10px;
	text-align: center;
}
.top .switch i {
	display: block;
	float: right;
	width: 30px;
	height: 50px;
	background: url(../images/icon-down.png) no-repeat center;
	background-size: 22px;
}
.top .switch i.on {
	display: block;
	float: right;
	width: 30px;
	height: 50px;
	background: url(../images/icon-up.png) no-repeat center;
	background-size: 22px;
}

/*swiper1*/
.swiper1 .swiper-slide a {
	display: block;
}
.swiper1 .swiper-slide  img{
	width: 100%;
	vertical-align: middle;
}
.swiper-pagination-bullet-active {
	background-color: #7c4b2e;
}
/*8nav*/
.nav ul {
	padding: 5px 0;
	background-color: #fff;
}
.nav ul li{
	float: left;
	width: 25%;
}
.nav ul li a{
	display: block;
	color: #000;
	text-align: center;
	padding: 5px 0;
}
.nav ul li a i {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background-image: url(../images/index_nav.png);
	background-repeat: no-repeat;
	background-size: 40px;
}
.nav ul li.nav_1 i{background-position: 0 0;}
.nav ul li.nav_2 i{background-position: 0 -40px;}
.nav ul li.nav_3 i{background-position: 0 -80px;}
.nav ul li.nav_4 i{background-position: 0 -120px;}
.nav ul li.nav_5 i{background-position: 0 -160px;}
.nav ul li.nav_6 i{background-position: 0 -200px;}
.nav ul li.nav_7 i{background-position: 0 -240px;}
.nav ul li.nav_8 i{background-position: 0 -280px;}

/*动态*/
.notice {
	margin-top: 2px;
	padding: 5px 0;
	margin-bottom: 15px;
	padding-left: 60px;
	background: #fff url(../images/notice.png) no-repeat 10px center;
	background-size: 40px;
}
.notice ul {
	padding: 5px;
	border-left: 1px solid #e9e9e9;
}
.notice ul li {
	height: 20px;
	line-height: 20px;
}

.notice ul li em {
	float: left;
	color: #d20000;
	font-size: 12px;
	font-style: normal;
	border: 1px solid #d20000;
	border-radius: 4px;
	padding:0 3px;
	margin: 2px 5px;
	height: 14px;
	line-height: 14px;
}
.notice ul li a {
	display: block;
	color: #000;
	font-size: 13px;
	margin-left: 5px;
	height: 20px;

}
.notice ul li a p {
	margin: 0;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/**/
.remd_tit {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}
.remd_tit div {
	width: 150px;
	height: 30px;
	margin: 0 auto;
}
.remd_tit i {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/hot.png) no-repeat center;
	background-size: 30px 30px;
}
.remd_tit span {
	display: inline-block;
	float: left;
	width: 80px;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.remd_tit a {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/more.png) no-repeat center;
	background-size: 20px 20px;
}

/*swiper2*/
.swiper2 {
	padding-bottom: 30px;
	background-color: #fff;
}
.swiper2 .swiper-slide dl {
	padding: 0 5px;
}
.swiper2 .swiper-slide dl dd {
	float: left;
	width: 33.333%;
}

.swiper2 .swiper-slide dl dd a {
	display: block;
	margin: 5px;
}
.swiper2 .swiper-slide dl dd a img{
	width: 100%;
	vertical-align: middle;
}
.swiper2 .swiper-slide dl dd a p {
	/*display: block;*/
	color: #000;
	font-size: 13px;
	line-height: 20px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	margin: 0;
}
.swiper2 .swiper-slide dl dd a em {
	color: #f60;
	font-size: 16px;
	font-style: normal;
}

/**/
.subt {
	margin: 10px;
	border-left: 3px solid #13a7b7;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	padding-left: 3px;
}
.bid {
	margin-top: 15px;
	background-color: #fff;
}

.bid_tit {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}
.bid_tit div {
	width: 150px;
	height: 30px;
	margin: 0 auto;
}
.bid_tit i {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/trade.png) no-repeat center;
	background-size: 30px 30px;
}
.bid_tit span {
	display: inline-block;
	float: left;
	width: 80px;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.bid_tit a {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/more.png) no-repeat center;
	background-size: 20px 20px;
}

.insearch {
	margin-left: 10px;
	height: 36px;
	background-color: #f4f4f4;
}

.insearch span {
	color: #e60012;
	font-size: 14px;
	padding-left: 10px;
	line-height: 36px;
}
.insearch input {
	color: #888;
	min-width: 200px;
	height: 20px;
	border: none;
	padding: 0;
	margin: 8px 0;
	background-color: #f4f4f4;
}
.insearch i {
	float: right;
	display: block;
	width: 36px;
	height: 36px;
	background: url(../images/insearch.png) no-repeat center;
	background-size: 20px;
}
.remind {
	padding: 10px;
}
.remind .remfl {
	width: 70px;
	border-right: 1px solid #f4f4f4;
}
.remind .remfl span {
	display: block;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	width: 60px;
	height: 24px;
	margin-top: 8px;
	text-align: center;
	background-color: #e60012;
}
.remfr {
	padding-left: 36px;
	background: url(../images/horn.png) no-repeat left center;
	background-size: 30px;
}
.remfr p {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.remfr .p1 {
	font-weight: bold;
}
.remfr .p1 em {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-left: 5px;
}
.remfr .p2 {
	color: #e60012;
}

/*swiper3*/
.swiper3 {
	padding-bottom: 30px;
	background-color: #fff;
}
.swiper3 .swiper-slide dl {
	padding: 0 5px;
}
.swiper3 .swiper-slide dl dd {
	float: left;
	width: 33.333%;
}

.swiper3 .swiper-slide dl dd a {
	display: block;
	margin: 5px;
}
.swiper3 .swiper-slide dl dd a img{
	width: 100%;
	vertical-align: middle;
}
.swiper3 .swiper-slide dl dd a p {
	display: block;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.swiper3 .swiper-slide dl dd a em {
	color: #f60;
	font-size: 16px;
	font-style: normal;
}

.date24 {
	padding-top: 1px;
	margin-top: 2px;
	background-color: #fff;
}
.date1 {
	padding-top: 1px;
	margin-top: 2px;
	margin-bottom: 15px;
	background-color: #fff;
}
/*swiper4*/
.swiper4 {
	padding-bottom: 30px;
	background-color: #fff;
}
.swiper4 .swiper-slide dl {
	padding: 0 5px;
}
.swiper4 .swiper-slide dl dd {
	float: left;
	width: 50%;
}

.swiper4 .swiper-slide dl dd a {
	display: block;
	margin: 5px;
}
.swiper4 .swiper-slide dl dd a img{
	float: left;
	width: 60px;
	height: 60px;
}
.swiper4 .swiper-slide dl dd a p {
	display: block;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	height: 20px;
	overflow: hidden;
	padding-left: 5px;
}
.swiper4 .swiper-slide dl dd a .p2 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}
.swiper4 .swiper-slide dl dd a em {
	color: #f60;
	font-style: normal;
}
/*swiper5*/
.swiper5 {
	padding-bottom: 30px;
	background-color: #fff;
}
.swiper5 .swiper-slide dl {
	padding: 0 5px;
}
.swiper5 .swiper-slide dl dd {
	float: left;
	width: 50%;
}

.swiper5 .swiper-slide dl dd a {
	display: block;
	margin: 5px;
}
.swiper5 .swiper-slide dl dd a img{
	float: left;
	width: 60px;
	height: 60px;
}
.swiper5 .swiper-slide dl dd a p {
	display: block;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	height: 20px;
	overflow: hidden;
	padding-left: 5px;
}
.swiper5 .swiper-slide dl dd a .p2 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}
.swiper5 .swiper-slide dl dd a em {
	color: #f60;
	font-style: normal;
}

.prosp {
	margin-top: 15px;
	background-color: #fff;
}

.prosp_tit {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}
.prosp_tit div {
	width: 150px;
	height: 30px;
	margin: 0 auto;
}
.prosp_tit i {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/prosp.png) no-repeat center;
	background-size: 30px 30px;
}
.prosp_tit span {
	display: inline-block;
	float: left;
	width: 80px;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.prosp_tit a {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/more.png) no-repeat center;
	background-size: 20px 20px;
}

/*swiper6 */
.swiper6 .swiper-slide {
	width: auto;
}
.swiper6 .swiper-slide a {
	display: block;
	width: 80px;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.swiper6 .swiper-slide a div {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}
.swiper6 .swiper-slide a div img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
}
.swiper6 .swiper-slide a span {
	display: block;
	font-size: 14px;
	color: #000;
	line-height: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ad1 {
	width: 100%;
}
.ad1 a{
	display: block;
}
.ad1 a img {
	width: 100%;
	display: block;
	vertical-align: middle;
}
.yells {
	padding: 10px 10px 10px 50px;
	margin-bottom: 15px;
	background: #fff url(../images/yells.png) no-repeat 8px center;
	background-size: 40px;
}
.yells ul {
	padding-right: 10px;
}
.yells ul li{
	font-size: 13px;
	line-height: 20px;
	height: 20px;
}
.yells ul li:before {
	display: block;
	float: left;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 6px;
	background-color: #d20000;
}
.yells ul li a {
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.yells ul li span {
	float: right;
	color: #888;
}
.gift {
	background-color: #fff;
}
.gift_tit {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}
.gift_tit div {
	width: 150px;
	height: 30px;
	margin: 0 auto;
}
.gift_tit i {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/gift.png) no-repeat center;
	background-size: 30px 30px;
}
.gift_tit span {
	display: inline-block;
	float: left;
	width: 80px;
	color: #000;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.gift_tit a {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background: url(../images/more.png) no-repeat center;
	background-size: 20px 20px;
}
.gift ul {
	padding: 1px 10px;
}
.gift ul li {
	margin-bottom: 12px;
}
.gift ul li a img{
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 5px;
}
.gift ul li a p {
	line-height: 30px;
	margin: 0;
}
.gift ul li a .p1 {
	font-size: 16px;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gift ul li a .p2 {
	font-size: 14px;
	color: #000;
}
.gift ul li a .p3 {
	font-size: 14px;
	color: #888;
}
.gift ul li a p em {
	font-style: normal;
	color: #00b623;
	padding: 0 5px;
}
.gift ul li a p .fr {
	float: right;
}
.wrap {
	width: 100%;
	margin-bottom: 75px;
	overflow-x: hidden;
}
.white-wrap {
	background-color: #fff;
}
.foot {
	position: fixed;
	left: 0;
	right: 0;
	bottom:0;
	height: 60px;
	border-top: 2px solid #d2d2d2;
	background-color: #fff;
	z-index: 999;
}
.foot a {
	display: block;
	float: left;
	width: 20%;
	padding-top: 35px;
	text-align: center;

}
.foot a span {
	display: block;
	color: #999;
	font-size: 14px;
	line-height: 25px;
}
.foot a.home {
	background:url(../images/icon-home.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.store {
	background:url(../images/icon-store.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.tribune {
	background:url(../images/icon-tribune.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.gift {
	background:url(../images/icon-gift.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.preson {
	background:url(../images/icon-person.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a:hover span,.foot a.active span {
	color: #7c4b2e;
}
.foot a.home:hover,.foot a.home.active {
	background:url(../images/icon-home-active.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.store:hover,.foot a.store.active {
	background:url(../images/icon-store-active.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.tribune:hover,.foot a.tribune.active {
	background:url(../images/icon-tribune-active.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.gift:hover,.foot a.gift.active {
	background:url(../images/icon-gift-active.png) no-repeat center 5px;
	background-size: 30px;
}
.foot a.preson:hover,.foot a.preson.active {
	background:url(../images/icon-person-active.png) no-repeat center 5px;
	background-size: 30px;
}
/*reg*/
.top h2 {
	font-size: 24px;
	color: #fff;
	font-weight: normal;
	line-height: 50px;
	text-align: center;
	margin: 0;
}
.top .back {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	padding: 0;
	background: url(../images/icon-back.png) no-repeat center;
}
.reg {
	padding: 20px;
}
.reg-ipt {
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
}
.reg-ipt span {
	width: 80px;
	font-size: 15px;
	line-height: 30px;
	height: 30px;
	margin-right: 10px;
	border-right: 1px solid #ccc;
}
.reg-ipt span.lgsp {
	font-size: 15px;
	width: 90px !important;
}
.reg-ipt input {
	font-size: 14px;
	border: none;
}
.reg-tip p {
	color: #7c4b2e;
	font-size: 12px;
	line-height: 18px;
	margin: 6px 0 15px;
}
.reg .next {
	margin: 25px 0;
	text-align: center;
}
.reg .next a {
	display: inline-block;
	width: 80%;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #7c4b2e;
}
.step2 p {
	color: #7c4b2e;
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0 15px;
}

.step2 .reg-ipt div {
	font-size: 16px;
	line-height: 30px;
	/*border-left: 1px solid #ccc;*/
	padding-left: 10px;
}
.reg-btn {
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
}
.reg-btn a.active {
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	padding: 0 12px;
	border: none;
	margin: 8px;
	border-radius: 18px;
	background-color: #7c4b2e;
}
.reg-btn a {
	display: inline-block;
	color: #7c4b2e;
	font-size: 14px;
	line-height: 34px;
	padding: 0 12px;
	border: 1px solid #7c4b2e;
	margin: 8px;
	border-radius: 18px;
	background-color: #fff;
}
.reg-mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.8);
}
.reg-sel {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}
.reg-sel ul {
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}
.reg-sel ul li {
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.reg-sel span {
	display: block;
	font-size: 15px;
	line-height: 36px;
	text-align: center;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #fff;
}
.yzm .reg-ipt {
	float: left;
	width: 60%;
}
.yzm .reg-ipt input {
	width: 90px;
}
.yzm a {
	display: inline-block;
	float: right;
	width: 30%;
	color: #fff;
	font-size: 12px;
	line-height: 50px;
	border:none;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	background-color: #7c4b2e;
}
.login {
	padding: 20px;
	background-color: #fff;
}
.login-input {
	padding: 10px;
	border-radius: 5px;
	border:1px solid #ddd;
	margin: 15px 0;
}
.login-input span {
	display: block;
	font-size: 15px;
	line-height:30px;
	height: 30px;
	width: 50px;
	text-align: center;
}
.login-input input {
	font-size: 15px;
	line-height:30px;
	height: 30px;
	border:none;
	padding: 0;
}
.login-rem span,.login-rem a{
	display: block;
	color: #999;
	float: left;
	font-size: 13px;
	line-height: 20px;
}
.login-rem i {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px;
	border:1px solid #f18d2f;
}
.login-btn {
	margin: 30px 0 50px;
}
.login-btn .regbtn {
	float: left;
	font-size: 15px;
	color: #f18d2f;
	line-height: 40px;
	width: 45%;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #f18d2f;
	background-color: #fff;
}
.login-btn .loginbtn {
	float: right;
	font-size: 15px;
	color: #fff;
	line-height: 40px;
	width: 45%;
	text-align: center;
	border: 1px solid #f18d2f;
	border-radius: 5px;
	background-color: #f18d2f;
}
.login > p {
	color: #888;
	font-size: 15px;
	line-height: 30px;
	margin: 20px 0;
	text-align: center;
}
.third-party {
	padding: 10px 0;
	text-align: center;
}
.third-party a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 10px;
	background-image: url(../images/third-party.png);
	background-repeat: no-repeat;
}
.third-party a.p1 {
	background-position: -5px -5px;
}
.third-party a.p2 {
	background-position: -5px -45px;
}
.third-party a.p3 {
	background-position: -5px -85px;
}
.tabBox .hd{ height:40px; border-bottom:2px solid #ccc;}
.tabBox .hd ul li{ float:left; width: 25%; text-align: center;}
.tabBox .hd ul li a {color:#333;font-size:18px; display:block; height:40px; line-height:40px;  border-bottom:2px solid #ccc; }
.tabBox .hd ul li.on a{ color:#7c4b2e; border-bottom:2px solid #7c4b2e;  }
.tabBox .bd ul li{width: 25%;margin: 10px 0;float: left;}
.tabBox .bd ul li a {
	display: block;
	width: 80px;
	margin: 0 auto;
	text-align: center;
}
.tabBox .bd ul li a span {
	display: block;
	font-size: 15px;
	color: #333;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tabBox .bd ul li a i {
	display: block;
	height: 42px;
	text-align: center;
}
.tabBox .bd ul li a i img {
	height: 100%;
}
.jy-box  ul li{
	padding: 15px;
	margin-bottom: 15px;
	background-color: #fff;
}
.jy-box  ul li a {
	display: block;
}
.jy-box  ul li a >div>span{
	float: left;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
	padding: 0 5px;
	line-height: 24px;
	margin-right: 8px;
}
.jy-box  ul li a p {
	color: #222;
	font-size: 15px;
	line-height: 24px;
	margin: 0;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.jy-box  ul li a >div >div {
	float: left;
	width: 32%;	
	margin-top: 10px;
}
.jy-box  ul li a >div >div span {
	display: block;
	font-size: 14px;
	color: #f19149;
	line-height: 24px;
	text-align: center;
}
.border-right {
	border-right: 1px solid #ccc;
}
.jy-box  ul li a >div >div span.sp3 {
	color: #bbb;
}
.jy-box  ul li a >div>span.csp1 {
	background-color: #f19149;
}
.jy-box  ul li a >div>span.csp2 {
	background-color: #e60012;
}
.jy-box  ul li a >div>span.csp3 {
	background-color: #ffd905;
}
.jy-box  ul li a >div>span.csp4 {
	background-color: #0068b7;
}
.jy-fb {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #f19149;
	z-index: 999;
}
.jy-fb a {
	display: block;
	color: #fff;
	font-size: 36px;
	line-height: 45px;
	text-align: center;
	font-weight: lighter;
}
.top input {
	width: 50%;
	height: 30px;
	padding-left: 40px;
	border-radius: 15px;
	border:none;
	margin: 10px 0;
	background: rgba(255,255,255,0.5) url(../images/search.png) no-repeat 8px center;
	background-size: 24px;
}
.top ::-webkit-input-placeholder { /* WebKit browsers */
	color:#fff;
}
.top :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#fff;
}
.top ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#fff;
}
.top :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#fff;
}
/*swiper7*/
.swiper7 .swiper-slide a {
	display: block;
}
.swiper7 .swiper-slide  img{
	width: 40%;
	height: 40%;
	vertical-align: middle;
}
.swiper7 .swiper-pagination-bullet-active {
	background-color: #ff6600;
}
.reckon-time {
	padding: 5px 0;
}
.reckon-time p.p1 {
	color: #000;
	font-size: 18px;
	line-height: 30px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	margin:0 0 0 10px;
}
.reckon-time p.p2 {
	color: #000;
	font-size: 14px;
	line-height: 30px;
	margin:0 0 0 10px;
}
.reckon-time p.p2 em {
	color: #fff;
	font-size: 24px;
	font-style: normal;
	line-height: 30px;
	border-radius: 4px;
	padding: 0 3px;
	margin: 0 4px;
	background-color: #d20000;
	vertical-align: middle;
}
.cancel-price {
	width: 100px;
}
.cancel-price a {
	display: block;
	width: 80px;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	width: 80px;
	border-radius: 4px;
	text-align: center;
	margin: 20px auto;
	background-color: #f18d2f;
}

.quick-info {
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
}
.quick-info p {
	color: #666;
	font-size: 15px;
	line-height: 25px;
	margin: 0;
}
.quick-info p span {
	color: #d20000;
	font-size: 18px;
}
.quick-info p em {
	font-size: 13px;
	font-style: normal;
}
.offer {
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
}
.offer div {
	float: left;
	width: 33.33%;
	text-align: center;
}
.offer div a {
	display: block;
	width: 60px;
	height: 60px;
	margin: 5px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background: url(../images/offer.png) no-repeat;
	background-size: 60px;
}
.offer div a.offer200 {
	background-position: left top;
}
.offer div a.offer500 {
	background-position: left center;
}
.offer div a.offer1000 {
	background-position: left bottom;
}
.quick-foot {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	background-color: #929292;
}
.quick-foot a {
	text-align: center;
}
.quick-foot a span {
	color: #fff;
	display: block;
	font-style: 15px;
	line-height: 40px;
	margin: 10px 0;
	border-right: 1px solid #fff;
}
.quick-foot a:last-child span {
	border-right: none;
}
.quick-foot a.active span {
	color: #d20000;
}

.shop-goods {
	padding: 5px;
}
.shop-goods h2 {
	margin: 5px;
	color: #000;
	font-size: 18px;
	line-height: 18px;
	padding-left: 5px;
	border-left: 3px solid #f60;
}
.shop-goods ul li {
	float: left;
	width: 50%;
	margin: 5px 0;
}
.shop-goods ul li a {
	display: block;
	margin: 5px;
}
.shop-goods ul li a img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 5px;
}
.shop-goods ul li a p {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.shop-goods ul li a p em {
	color: #f60;
	font-size: 15px;
	font-style: normal;
}
.shop-goods ul li a p span {
	color: #999;
	font-size: 13px;
}

.shop-foot {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	border-top: 1px solid #ccc;
	background-color: #fff;
}
.shop-foot a {
	text-align: center;
}
.shop-foot a span {
	color: #000;
	display: block;
	font-style: 15px;
	line-height: 40px;
	margin: 10px 0;
	border-right: 1px solid #ccc;
}
.shop-foot a:last-child span {
	border-right: none;
}
/*.shop-foot a.active span {
	color: #d20000;
}*/
.zt {
	padding: 10px;
}
.zt h2 {
	color: #000;
	font-size: 22px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.zt .author {
	height: 40px;
	margin: 15px 0;
}
.zt .author div {
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 15px;
	overflow: hidden;
}
.zt .author div img {
	vertical-align: middle;
}
.zt .author p {
	color: #434343;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.zt .author span{
	display: block;
	color: #b5b5b5;
	font-size: 12px;
	line-height: 20px;
}
.zt-cont {
	color: #434343;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}
.zt-answer {

}
.zt-answer h5 {
	color: #7c4b2e;
	font-size: 14px;
	line-height: 30px;
	margin: 10px 0;
}
.zt-floor {
	padding-left: 15px;
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 8px;
}
.floor-top .fr span {
	color: #7c4b2e;
	font-size: 13px;
	line-height: 30px;
	margin-left: 8px;
}
.floor-num {
	color: #000;
	font-size: 15px;
	line-height: 30px;
}
.floor-time {
	color: #b5b5b5;
	font-size: 12px;
	padding: 0 5px;
	line-height: 30px;
}
.floor-cont {
	padding-top: 10px;
	padding-bottom: 15px;
}
.floor-cont p {
	color: #626262;
	font-size: 14px;
	margin: 6px 0;
}
.quote-cont {
	color: #999;
	font-size: 13px;
	padding: 5px;
	border-radius: 4px;
	background-color: #e9e9e9;
}
.quote-floor {
 	color: #1f9312;
 	margin-right: 6px;
 }
.person ul li{
 	padding: 0 10px;
 	line-height: 40px;
 	border-bottom: 1px solid #e9e9e9;
 	background-color: #fff;
 }
.person ul li a > span{
	color: #000;
	font-size: 15px;
}
.person ul li a div span{
	color: #999;
	font-size: 15px;
}
.arrow-right {
	display: block;
	float: right;
	width: 25px;
	height: 40px;
	background: url(../images/arrow-right.png) no-repeat right center;
	background-size: 20px;
}
.person ul li .level {
	display: block;
	float: right;
	width: 25px;
	height: 40px;
	background: url(../images/level.png) no-repeat right center;
	background-size: 20px;
}
.login-out {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background-color: #7c4b2e;
}
.login-out a {
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
}
.order-addr {
	padding: 5px 10px;
	margin-bottom:15px;
	background-color: #fff;
}
.order-addr span {
	color: #000;
	font-size: 15px;
	line-height: 25px;
}
.order-addr p {
	color: #000;
	font-size: 15px;
	margin: 5px 0;
}
.neworder {
	background-color: #f4f4f4;
}
.neworder .bsp {
	color: #000;
}
.neworder .osp {
	color: #f60;
}
.order-toggle {
	padding: 10px;
}
.order-toggle p {
	color: #000;
	font-size: 15px;
	text-align: right;
	margin: 0 0 15px;
}
.order-toggle p span {
	color: #f60;
	font-size: 18px;
}
.order-toggle button {
	width: 100%;
	color: #fff;
	font-size: 15px;
	line-height: 36px;
	border-radius: 5px;
	padding: 0;
	border:none;
	text-align: center;
	background-color: #7c4b2e;
}
.publish {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #fff;
}
.publish textarea {
	width: 100%;
	font-size: 15px;
	height: 60px;
	border:none;
}
.publish .img-list {
	margin: 5px 0;
}
.publish .img-box {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
}
.publish .img-box img {
	width: 100%;
	vertical-align: middle;
}
.publish .img-box span {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	background-color: #dd7e43;
}
.publish .img-add {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
	background-color: #e9e9e9;
}
.publish .img-add span {
	display: block;
	color: #999;
	font-size: 13px;
	line-height: 30px;
	text-align: center;
}
.publish .img-add .add-icon {
	height: 50px;
	margin: 15px 0 5px;
	background: url(../images/icon-add.png) no-repeat center;
}
.img-add input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.pub-info {
	background-color: #fff;
}
.info-row {
	color: #000;
	font-size: 15px;
	line-height: 40px;
	padding: 0 10px;
	border-bottom: 1px solid #e9e9e9;
}
.info-row .info-tit {
	width: 80px;
}
.info-row input {
	font-size: 14px;
	border:none;
}
.gsp {
	color: #999;
}
.info-row > .recom {
	margin-left: 80px;
}
.recom span {
	display: inline-block;
	color: #7c4b2e;
	font-size: 14px;
	line-height: 28px;
	padding: 0 12px;
	margin-right: 3px;
	border:1px solid #7c4b2e;
}
.recom span.on {
	color: #fff;
	background: #7c4b2e url(../images/sel-on.png) no-repeat right bottom;
	background-size: 26px;
}
.pub-btn {
	padding: 8px 10px;
	margin-top: 10px;
	background-color: #fff;
}
.pub-btn a {
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	background-color: #7c4b2e;
}

.mygoods ul li {
	margin-bottom: 10px;
	background-color: #fff;
}
.mygoods .ginfo {
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.mygoods .ginfo .img-box {
	width: 100px;
	height: 100px;
	overflow: hidden;
}
.mygoods .ginfo .img-box img {
	width: 100%;
}
.mygoods .ginfo p {
	color: #000;
	font-size: 18px;
	line-height: 25px;
	margin: 0;
	padding-left: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mygoods .ginfo p.p1 span{
	color: #f60;
}
.mygoods .ginfo p.p2 span{
	color: #fff;
	font-size: 14px;
	padding: 3px 8px;
	border-radius: 5px;
	background-color: #7c4b2e
}
.mygoods .ginfo p.p3 span{
	color: #999;
	font-size: 13px;
}
.mygoods .modify {
	padding: 0 10px;
	background-color: #fff;
}
.mygoods .modify .fl span {
	color: #888;
	font-size: 14px;
	line-height: 36px;
}
.mygoods .modify .fr span {
	color: #7c4b2e;
	font-size: 14px;
	line-height: 36px;
	padding: 2px 8px;
	border: 1px solid #7c4b2e;
}
.gdetail {
	padding: 10px;
	background-color: #fff;
}
.gdetail p {
	color: #7c4b2e;
	font-size: 16px;
	line-height: 30px;
	padding-left: 35px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.gdetail p.p1 {
	background: url(../images/icon-gd.png) no-repeat left top;
}
.gdetail p.p1 span {
	color: #000;
	font-size: 14px;
	padding: 0 6px;
}
.gdetail p.p2 {
	background: url(../images/icon-gd.png) no-repeat left -30px;
}
.gdetail p.p2 span {
	color: #f60;
	font-size: 14px;
	padding: 0 6px;
}
.gdetail p.p3 {
	background: url(../images/icon-gd.png) no-repeat left -60px;
}
.gdetail p.p3 span {
	color: #000;
	font-size: 12px;
	padding: 0 6px;
}
.g-intr {
	margin: 10px 0;
	padding:5px 10px;
	background-color: #d7cbc5;
}
.g-intr .p1 {
	color: #7c4b2e;
	font-size: 16px;
	line-height: 20px;
	margin: 5px 0;
}
.g-intr .p2 {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
}
.g-seller {
	border-radius: 5px;
	margin: 0 10px;
	background-color: #fff;
}
.g-seller >div {
	width: 45%;
	padding: 0 2%;
}
.g-seller >div span {
	color: #7c4b2e;
	font-size: 14px;
	line-height: 40px;
}
.g-seller > .fl {
	border-right: 1px solid #e9e9e9;
}
.g-seller > .fl span.fr {
	color: #000;
	font-size: 14px;
}
.g-seller > .fr span.fr {
	color: #f60;
	font-size: 12px;
}
.g-explain {
	margin: 10px;
	padding:5px 10px;
	border-radius: 10px;
	background-color: #d7cbc5;
}
.g-explain .p1 {
	color: #7c4b2e;
	font-size: 16px;
	line-height: 20px;
	margin: 5px 0;
}
.g-explain .p2 {
	color: #d20000;
	font-size: 14px;
	line-height: 18px;
	margin: 5px 0;
	padding-left: 15px;
}
.g-explain .p3 {
	color: #333;
	font-size: 13px;
	line-height: 15px;
	margin: 5px 0;
	padding-left: 15px;
}

.g-message {
	padding: 10px;
	background-color: #fff;
}
.g-message .p1{
	color: #7c4b2e;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
.g-message .p1 span {
	color: #d20000;
	font-size: 13px;
}
.message {
	margin: 5px 0;
	border-bottom: 1px solid #e9e9e9;
}
.g-message .p2 span {
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin-right: 8px;
	overflow: hidden;
}
.g-message .p2 span img {
	width: 100%;
	vertical-align: middle;
}
.g-message .p2 {
	color: #f60;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
.g-message .p3 {
	color: #000;
	font-size: 15px;
	line-height: 20px;
	margin: 5px 0;
	padding-left: 30px;
}

.g-message .p4 {
	color: #999;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	padding-left: 30px;
}

.g-message .more {
	display: block;
	color: #7c4b2e;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
}
.g-message .more img {
	vertical-align: sub;
}
.g-foot {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}
.g-foot .fl {
	padding: 5px 0 5px 10px;
}
.g-foot .fr {
	padding: 5px 10px 5px 0;
}
.g-foot .fl a {
	display: inline-block;
	width: 50px;
	height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 8px;
	padding-top: 20px;
	color:#7c4b2e;
	font-size: 12px;
	text-align: center;
	border:1px solid #e9e9e9;
}
.g-foot .fl a.a1 {
	background: url(../images/icon-kefu.png) no-repeat center 2px;
	background-size: 20px;
}
.g-foot .fl a.a2 {
	background: url(../images/icon-message.png) no-repeat center 2px;
	background-size: 20px;
}
.g-foot .fr a {
	display: inline-block;
	width: 80px;
	height: 38px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 8px;
	font-size: 14px;
	line-height: 38px;
	text-align: center;
	border:1px solid #7c4b2e;
}
.g-foot .fr a.a3 {
	color:#7c4b2e;
}
.g-foot .fr a.a4 {
	color:#fff;
	background-color: #7c4b2e;
}
.anonymous {
	position: fixed;
	right: 10px;
	bottom: 95px;
	border-radius: 5px;
	background-color: #f19149;
}
.anonymous a {
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding: 0 8px;
}
.halt {
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	text-align: center;
	background-color: #727272;
}
.g-foot .fr a.disable {
	background-color: #e9e9e9;
	border:1px solid #e9e9e9;
}

.filter {
	padding: 5px 0;
	text-align: center;
}
.filter a {
	display: block;
	color: #000;
	font-size: 18px;
	line-height: 40px;
}
.filter a.br {
	border-right: 1px solid #e9e9e9;
}
.filter a span {
	padding-right: 20px;
	background: url(../images/arrow.png) no-repeat right 2px;
	background-size: 16px;
}
.champion {
	padding: 10px 0;
	background-color: #f4f4f4;
}

/*swiper8 */
.swiper8 {
	padding: 5px;
	background-color: #fff;
}
.swiper8 .swiper-slide {
	width: 100px;
	padding: 8px;
	border-radius: 5px;
	margin: 5px;
	background-color: #f4f4f4;
}
.swiper8 .swiper-slide a {
	display: block;
}
.swiper8 .swiper-slide a p.p1 {
	color: #000;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
.swiper8 .swiper-slide a p.p2 {
	color: #f19149;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
.swiper8 .swiper-slide a p.p3 {
	color: #000;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}
.swiper8 .swiper-slide a p.p4 {
	color: #000;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
}

.shops ul li {
	padding: 5px 10px;
	border-bottom: 1px solid #e9e9e9;
}
.shops ul li p.p1 {
	color: #000;
	font-size: 16px;
	line-height: 20px;
	margin: 5px 0;
}
.shops ul li p.p1 span {
	color: #fff;
	font-size: 12px;
	padding: 2px 10px;
	border-radius: 8px;
	margin: 0 5px;
	vertical-align: top;
	background-color: #7c4b2e;
}
.shops ul li p.p2 {
	color: #666;
	font-size: 13px;
	line-height: 20px;
	margin: 5px 0;
}
.shops ul li p.p3 {
	line-height: 20px;
	margin: 5px 0;
}
.shops ul li p.p3 span{
	float: left;
	color: #000;
	font-size: 12px;
	margin: 0 5px;
}

.shops ul li .level {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	background: url(../images/level.png) no-repeat right center;
	background-size: 20px;
}
.shops ul li .online {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	background: url(../images/online.png) no-repeat right bottom;
	background-size: 20px;
}
.shops ul li .online.on {
	background: url(../images/online.png) no-repeat right bottom;
	background-size: 20px;
}
.shops ul li .into {
	width: 70px;
	line-height: 70px;
	text-align: right;
}
.shops ul li .into a {
	color: #f19149;
	font-size: 13px;
	line-height: 20px;
	padding: 2px 15px;
	border-radius: 12px;
	border: 1px solid #f19149;
}
.ide-pro {
	padding: 10px;
}
.ide-pro h2 {
	color: #000;
	font-size: 18px;
	line-height: 40px;
	margin: 0;
	padding-left: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.pro-img {
	padding: 5px;
}
.pro-img img {
	width: 100%;
	vertical-align: middle;
}
.ide-pro > div {
	padding-bottom: 10px;
}
.ide-pro p {
	font-size: 15px;
	line-height: 20px;
	margin:3px 0;
	padding: 0 10px;
}
.ide-pro p.p1 {
	color: #f19149;
}
.ide-list {
	padding-top: 10px;
	background-color: #fff;
}
.ide-list h2 {
	color: #000;
	font-size: 18px;
	line-height: 30px;
	margin: 0;
	padding-left: 10px;
}
.ide-list ul li {
	padding: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.ide-list ul li .ide-img {
	width: 90px;
}
.ide-list ul li .ide-img img{
	width: 100%;
}
.ide-list ul li a >div>div{
	float: left;
	width: 50%;
}
.ide-list ul li p {
	color: #999;
	font-size: 14px;
	line-height: 30px;
	margin: 0;
	padding-left: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ide-list ul li p span {
	color: #000;
}
.ide-list ul li p span.rsp {
	color: #d20000;
}
.join-ide {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 2px solid #e9e9e9;
	background-color: #fff;
}
.join-ide >div {
	float: left;
	width: 50%;
}
.join-ide >div a {
	display: block;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	background-color: #7c4b2e;	
}
.pay-account {
	padding: 10px 0 0;
	background-color: #fff;
}
.pay-account h2 {
	color: #000;
	font-size: 13px;
	line-height: 20px;
	margin: 5px 10px;
}
.pay-account h2 span {
	color: #7c4b2e;
	font-size: 18px;
	padding-left: 4px;
	border-left: 3px solid #7c4b2e;
}
/*swiper9 */
.swiper9 {
	padding: 5px 0 30px;
}
.swiper9 .swiper-slide div {
	padding: 0 15px;
}
.swiper9 table {
	width: 100%;
}
.swiper9 table td {
	color: #000;
	font-size: 14px;
	line-height: 26px;
}
.swiper9 table td.td1 {
	color: #0c95dd;
}
.swiper9 table td span.td2 {
	color: #f19149;
}
.pay-notice {
	padding-top: 5px;
	margin-top: 10px;
	background-color: #fff;
}
.pay-notice h2 {
	color: #7c4b2e;
	font-size: 18px;
	padding-left: 4px;
	line-height: 20px;
	margin: 5px 10px;
	border-left: 3px solid #7c4b2e;
}
.pay-upfile {
	position: relative;
	display: block;
	width: 160px;
	height: 80px;
	border: 2px dashed #999;
	border-radius: 5px;
	margin: 8px 0;
	text-align: center;
	line-height: 130px;
	background: url(../images/icon-add.png) no-repeat center 15px;
	background-size:30px; 
}
.pay-upfile input {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.pay-remit {
	padding: 10px;
	text-align: center;
}
.pay-remit div a {
	display: block;
	margin: 0 10px;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	border-radius: 5px;
	background-color: #00a0e9;
}
.withdraw {
	margin: 10px;
	padding: 5px 0;
}
.withdraw div {
	padding: 5px 10px;
	background-color: #fff;
	margin-bottom: 1px;
}
.withdraw table {
	width: 100%;
}
.withdraw table td {
	color: #000;
	font-size: 14px;
	line-height: 24px;
}
.withdraw table td em {
	color: #f60;
}
.withdraw h2 {
	color: #7c4b2e;
	font-size: 16px;
	line-height: 30px;
	margin: 0;
}
.withdraw p {
	color: #000;
	font-size: 14px;
	line-height: 20px;
	margin: 5px 0;
	padding-left: 10px;
}
.pay-remit div.org-bg a {
	background-color: #f19149;
}

.user-info {
	height: 150px;
	padding: 0 10px;
	background: url(../images/user-bg.jpg) no-repeat 50%;
}
.user-img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin: 35px 0;
}
.user-img img {
	width: 100%;
}
.user-name {
	float: left;
	text-align: center;
	margin: 45px 0 45px 10px;
}
.user-name>span {
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}
.user-name div>span {
	color: #fff;
	font-size: 13px;
	border-radius: 10px;
	padding: 2px 6px;
	line-height: 30px;
	background-color: #7c4b2e;
}
.user-info .fr > div {
	float: left;
	padding: 10px;
	height: 30px;
	margin: 50px 0;
}
.user-info .fr > div.br {
	border-right: 1px solid #fff;
}
.user-info .fr > div span.sp1 {
	color: #fff;
	font-size: 13px;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 2px 5px;
	line-height: 30px;
	text-align: center;
}
.user-mesg {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/icon-user.png) no-repeat left top;
	background-size: 30px;
}
.user-mesg em {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 18px;
	height: 18px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 50%;
	background-color: #d20000;
}
.user-finance {
	padding: 10px 0;
	text-align: center;
	background-color: #fff;
}
.user-finance a {
	display: block;
}
.user-finance a span {
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
}
.user-finance a span.osp {
	color: #f60;
	font-size: 15px;
}
.user-finance a.br {
	border-right: 1px solid #e9e9e9;
}
.follow {
	margin: 10px 0;
	background-color: #fff;
}
.follow-top {
	padding: 0 10px;
	border-bottom: 1px solid #e9e9e9;
}
.follow-top span {
	color: #000;
	font-size: 15px;
	line-height: 40px;
}
.follow-top a {
	color: #999;
	font-size: 15px;
	line-height: 40px;
	padding-right: 25px;
	background: url(../images/arrow-right.png) no-repeat right center;
	background-size: 22px;
}
.trade-fw {
	padding: 10px 0;
}
.trade-fw a {
	display: block;
	text-align: center;
}
.trade-fw a i {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;	
}
.trade-fw a span {
	color: #626262;
	font-size: 13px;
	line-height: 20px;
}
.trade-fw .fw1 i {
	background: url(../images/icon-user.png) no-repeat left -40px;
	background-size: 40px;
}
.trade-fw .fw2 i {
	background: url(../images/icon-user.png) no-repeat left -200px;
	background-size: 40px;
}
.trade-fw .fw3 i {
	background: url(../images/icon-user.png) no-repeat left -80px;
	background-size: 40px;
}
.trade-fw .fw4 i {
	background: url(../images/icon-user.png) no-repeat left -120px;
	background-size: 40px;
}
.trade-fw .fw5 i {
	background: url(../images/icon-user.png) no-repeat left -160px;
	background-size: 40px;
}
.trade-fw a i em {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 18px;
	height: 18px;
	color: #d20000;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	border: 1px solid #d20000;
	border-radius: 50%;
	text-align: center;
}
.adst {
	background-color: #fff;
}
.adst-top {
	padding: 0 10px;
	border-bottom: 1px solid #e9e9e9;
}
.adst-top span {
	color: #000;
	font-size: 15px;
	line-height: 40px;
}
.adst-list {
	padding: 10px;
	text-align: center;
}
.adst-list .br-r{
	border-right: 1px solid #e9e9e9;
}
.adst-list .br-b{
	border-bottom: 1px solid #e9e9e9;
}
.adst-list a {
	display: block;
	padding: 10px 0;
}
.adst-list a span {
	color: #7c4b2e;
	font-size: 13px;
	line-height: 20px;
}
.adst-list a i {
	display: block;
	width: 40px;
	height: 40px;
	margin: 5px auto;
}
.ad-icon-1 {
	background: url(../images/icon-user.png) no-repeat center -240px;
	background-size: 40px;
}
.ad-icon-2 {
	background: url(../images/icon-user.png) no-repeat center -280px;
	background-size: 40px;
}
.ad-icon-3 {
	background: url(../images/icon-user.png) no-repeat center -320px;
	background-size: 40px;
}
.ad-icon-4 {
	background: url(../images/icon-user.png) no-repeat center -360px;
	background-size: 40px;
}
.ad-icon-5 {
	background: url(../images/icon-user.png) no-repeat center -400px;
	background-size: 40px;
}
.ad-icon-6 {
	background: url(../images/icon-user.png) no-repeat center -440px;
	background-size: 40px;
}
.ad-icon-7 {
	background: url(../images/icon-user.png) no-repeat center -480px;
	background-size: 40px;
}
.ad-icon-8 {
	background: url(../images/icon-user.png) no-repeat center -520px;
	background-size: 40px;
}

.conjuncture dl{
	background-color: #fff;
	margin-bottom: 10px;
}
.conjuncture dl dt {
	padding: 0 10px;
	border-bottom: 1px solid #e9e9e9;
}
.conjuncture dl dt div {
	float: left;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
.conjuncture dl dt div img {
	width: 100%;
}
.conjuncture dl dt span {
	color: #000;
	font-size: 15px;
	line-height: 40px;
	margin-left: 10px;
}
.conjuncture dl dd {
	margin: 0 10px;
	text-align: center;
}
dd.br-b{
	border-bottom: 1px solid #e9e9e9;
}
.conjuncture dl dd a {
	padding: 8px 0;
}
.conjuncture dl dd a span {
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 20px;
}
.conjuncture dl dd a span.rsp {
	color: #d20000;
}
.conjuncture dl dd a span.gsp {
	color: #009944;
}
.conjuncture dl dd a span.ssp {
	color: #999;
	font-size: 13px;
}

.category2,.category3 {
	display: none;
}
.category >ul.level5 {
	width: 100%;
}
.category {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	z-index: 1000;
}
.category >ul {
	width: 50%;
	height: 252px;
	overflow-y: scroll;
	background-color: #e9e9e9;
}
.category >ul >li {
	line-height: 36px;
	padding-left: 20px;
}

.category >ul >li >a {
	position: relative;
	display:block;
	font-size: 14px;
	line-height: 36px;
	height: 36px;
	color: #000;
	vertical-align: bottom;
	
}
.category >ul >li >a >p {
	padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.category .level2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 252px;
	overflow-y: scroll;
	display: none;
}
.category .level4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 252px;
	overflow-y: scroll;
	display: none;
}
.category li.on {
	background-color: #fff;
}
.category li.on .level2,.category li.on .level4 {
	display: block;
}
.category .level2 li,.category .level4 li {
	height: 35px;
	border-bottom: 1px solid #e9e9e9;
}
.category .level2 a,.category .level4 a {
	position: relative;
	display: block;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 35px;
	padding-left: 20px;
}
.category .level2 a p,.category .level4 a p {
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}
.cat-right {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	float: right;
	width: 32px;
	height: 35px;
	background: url(../images/arrow-right.png) no-repeat center;
	background-size: 20px;
}


.tui {
	height: 200px;
	padding: 10px;
	overflow: hidden;
	background-color: #fff;
}
.tui textarea {
	width: 100%;
	height: 100%;
	padding: 0;
	border:none;
	color: #555;
	font-size: 15px;
}
.tui-btn {
	margin: 20px 10px;
}
.tui-btn a {
	display: block;
	width: 48%;
	height: 40px;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	border-radius: 5px;
	text-align: center;
	background-color: #7c4b2e;
}
.trade-addr {
	padding: 0 10px;
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9;
}
.trade-addr h2 {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
}
.trade-img {
	width: 100px;
}
.trade-img img {
	width: 100%;
	vertical-align: middle;
}
.trade-addr .p1 {
	color: #000;
	font-size: 15px;
	margin: 20px 0 0;
	padding-left: 15px;
	line-height: 30px;
}
.trade-addr .p1 .fr {
	font-size: 18px;
}
.trade-addr .p2 {
	color: #888;
	font-size: 13px;
	margin:0;
	padding-left: 15px;
	line-height: 20px;
	text-align: right;
}
.trade-btn {
	padding: 10px 0;
}
.trade-btn a {
	display: block;
	float: right;
	color: #000;
	font-size: 15px;
	line-height: 28px;
	padding: 0 10px;
	margin-left: 10px;
	border:1px solid #000;
}
.trade-price {
	padding: 5px 10px;
	background-color: #fff;
	margin-bottom: 15px;
}
.trade-price span {
	font-size: 15px;
	line-height: 30px;
}
.trade-price .price-btn {
	display: block;
	float: right;
	color: #999;
	font-size: 13px;
	line-height: 18px;
	padding: 0 5px;
	border:1px solid #999;
	margin-top: 5px;
	margin-left: 5px;
}
.trade-price .minus,.trade-price .plus {
	color: #000;
	font-size: 12px;
	line-height: 22px;
	padding: 0 5px;
	background-color: #e9e9e9;
}
.trade-userinfo {
	padding:10px;
	background-color: #fff;
	margin-bottom: 15px;
}
.trade-userinfo span {
	line-height: 30px;
}
.trade-userinfo p {
	font-size: 13px;
	line-height: 30px;
	margin: 0;
}
.tar {
	text-align: right;
}
.balance,.trade-send {
	padding: 0 10px 10px;
	background-color: #fff;
	border-bottom: 1px solid #e9e9e9;
}
.trade-tit {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
}
.trade-tit span {
	font-size: 12px;
}
.radio p {
	color: #000;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding-left: 32px;
}
.radio p.radio-btn {
	padding: 0;
}
.radio p.radio-btn:before {
	display: block;
	content: "";
	float: left;
	width: 16px;
	height: 16px;
	margin: 2px 8px;
	background: url(../images/radio.png) no-repeat left top;
	-webkit-background-size: 16px;
	background-size: 16px;
}
.radio p.radio-btn.active:before {
	background: url(../images/radio.png) no-repeat left bottom;
	-webkit-background-size: 16px;
	background-size: 16px;
}

.trade-send >span {
	font-size: 12px;
}
.trade-send >p {
	color: #000;
	font-size: 13px;
	text-align: center;
	margin: 5px 0;
}
.trade-send >p span.rsp {
	color: #d20000;
}
.trade-kuaidi {
	padding-left:10px;
	margin-bottom: 15px;
	background-color: #fff;
}
.trade-kuaidi .info-row {
	height: 40px;
}
.trade-dialog {
	background-color: #fff;
}
.trade-vote {
	padding: 0 10px;
	background-color: #fff;
}

.trade-msg {
	height: 80px;
	padding: 8px;
	overflow: hidden;
	background-color: #fff;
}
.trade-msg textarea {
	width: 100%;
	height: 100%;
	padding: 0;
	border:none;
	color: #555;
	font-size: 13px;
}

.trade-four {
	padding: 10px 5px;
	margin-top: 15px;
	background-color: #fff;
}
.trade-four > div {
	padding: 0 5px;
}
.trade-four > div a {
	display: block;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 5px; 
}
.trade-four > div a.color-1 {background-color: #f29b76;}
.trade-four > div a.color-2 {background-color: #e8493d;}
.trade-four > div a.color-3 {background-color: #5bc084;}
.trade-four > div a.color-4 {background-color: #34bed6;}
