<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>老钱庄</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Auction!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <div class="wrap">
        <div class="top">
          <a class="back" href=""></a>
          <input type="text" placeholder="请输入速拍专场代号快捷进入" />
	      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main wrap">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <!--  -->
<div class="quick-foot flex">
	<a class="flex1 active" href="">
		<span>快速切换</span>
	</a>
	<a class="flex1" href="">
		<span>下一拍品</span>
	</a>
	<a class="flex1" href="">
		<span>更多拍品</span>
	</a>
</div>
  </body>
</html>
